---
---

<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Iransap</title>

<script>

const lang = navigator.language;

if (lang.startsWith("de")) {
  window.location.href = "/de";
}
else if (lang.startsWith("fa")) {
  window.location.href = "/fa";
}
else {
  window.location.href = "/de";
}

</script>

</head>

<body>

<p>Redirecting...</p>

</body>
</html>