<footer>

<div class="container">

<p>© 2026 iransap.com</p>
<p style="margin-top:20px; font-size:14px; opacity:0.7;">
Iransap.com is an independent initiative and is not affiliated with,
endorsed by, or officially connected to SAP SE.
All trademarks belong to their respective owners.
</p>

</div>

</footer>

<style>

footer{
padding:40px 0;
text-align:center;
background:#0F172A;
color:white;
}

</style>