<div class="lang">

<a href="/de">Deutsch</a>
<a href="/fa">فارسی</a>

</div>

<style>

.lang{
position:fixed;
top:20px;
right:20px;
}

.lang a{
margin-left:10px;
text-decoration:none;
font-weight:500;
}

</style>